@font-face {
  font-family: RowdiesLight;
  src: url(fonts/Rowdies-Light.ttf);
}

@font-face {
  font-family: RowdiesRegular;
  src: url(fonts/Rowdies-Regular.ttf);
}

@font-face {
  font-family: RowdiesBold;
  src: url(fonts/Rowdies-Bold.ttf);
}

@font-face {
  font-family: Honk;
  src: url(fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
}

html, body {
  background-color:black;

  background-image: linear-gradient(black, #660061);
}




h1 {
  font-family: Honk;
  text-align: center;
  font-size: 100px;
  margin-top:10px;
  margin-bottom:-10px;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 25px
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img{
  width:210px;
}

/* My additions from starter code */

#songs{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
}

.songCard{
  width:240px;
  /* border:30px; */
  border:5px outset;
  padding:5px;
  padding-top:10px;
  margin:15px;
  outline:white solid 2px;
  outline-offset:5px;
  text-align:center;
  
  background-color:#ffa621;
}

.songCardForm{
  background-color:#b1e6d9;
}

.songName{
  font-family: RowdiesBold;
  color: #5b0082;
  font-size:22px;
  text-decoration:none;
}

.artistName{
  font-family: RowdiesLight;
  font-size:18px;
  color:black;
  text-decoration:none;
}

.songCardInverted{
  width:240px;
  /* border:30px; */
  border:5px outset;
  padding:5px;
  padding-top:10px;
  margin:15px;
  outline:white solid 2px;
  outline-offset:5px;
  text-align:center;

  background-color:#5b0082;
}

.songNameInverted{
  font-family: RowdiesBold;
  color: #ffa621;
  font-size:22px;
}

.artistNameInverted{
  font-family: RowdiesLight;
  font-size:18px;
  color:white;
}

input {
  font-family: RowdiesLight;
  src: url(fonts/Rowdies-Light.ttf);

  width:200px;
  margin:10px;
}

button {
  font-family: RowdiesRegular;
  src: url(fonts/Rowdies-Regular.ttf);
  margin:10px;
}